:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #1e3c72, #2a5298);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #0073e6;
  transition: color 0.3s;
}
a:hover {
  color: #004080;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

button {
  border-radius: 6px;
  border: none;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #388E3C;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  background: f20089;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  button {
    font-size: 0.9em;
  }
}
